<!DOCTYPE html>
<html>
<head>
  <title> XYZ </title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/admin.css">
  <link rel="stylesheet" href="../static/css/simple-grid.css">
  <link rel="stylesheet" href="../static/css/font.css">
</head>
<body>

<br>

<div style="display: flex;flex-direction:row;align-items:center;">
<img src="../static/img/back_btn.png" style="width:40px;" class="back_btn" onclick="history.go(-1);return false;" />
<div class="heading_sup mar_l_20">LEAD DETAILS</div>
</div>



<div class="sal_cl_wrap">

  <div class="sal_wrap">
    <div class="heading_sub mar_t">CLIENT DETAILS:</div> <br>
    <div class="name">{{client.name}}</div>
    <div class="name">{{client.mobile_number}}</div>
    <div class="name">{{client.email}}</div>

      <br>

      <div class="heading_sub mar_t">ENQUIRY FOR</div>
    <div class="name mar_t">{{lead.enquiry_for}}</div>
    <div class="name">{{lead.package_type}}</div>

<br>
  </div>


{% if lead.lead_status_by_site_engineer==0 or lead.lead_status_by_site_engineer==1 %}
  <div class="cl_wrap_ws" style="margin-top:30px;">

<form action="/site-engineer-save-status1/{{lead.lead_id}}" method="POST">
  <select class="man_select" style="width:60%;height: 40px;" name="status">
    <option selected disabled>Select Status</option>
    <option value="vip">Visit in Progress</option>
    <option value="Visited">Visited</option>
  </select>
<br><br>
<button type="submit" class="btn_round_thin_r" id="Begin">SUBMIT</button>
</form>
<br>
  </div>
{% endif %}
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      swal('{{message}}');
    {% endfor %}
  {% endif %}
{% endwith %}
</script>
</body>
</html>
